body {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 70%;
}
.title{
  font-size:30px;
  padding-top:30px;;
  color:white;
  opacity:0.8;
}
header {
  background-color:rgb(232, 168, 18);
  border-bottom: 1px solid #ccc;
  text-align: center;
  height:100px;
  width:100%;
}
h1 {
  font-size: 70%;
}
main {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-color:rgb(251, 246, 188);
  height:1000px;
   
}
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: flex; /* 定義 */
  justify-content:space-between;
  table-layout: fixed;
  width: 95%;
  font-size: 80%;
  margin: 0 auto;
  text-align: center;
}
li {
  margin-top:20px;
  width:30%;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #fff;
  
  cursor: pointer;
  color: blue ;
  border-radius: 20px;
}
li:hover {
  background: #0d7dfd;
  color: #fff;
}
textarea {
  margin: 10px 3%;
  width: 95%;
  height: 60px;
  font-size: 80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:white;
}
#key {
  margin: 0 3%;
  width: 95%;
  font-size: 80%;
  background-color: #e1efff;
  box-shadow: 3px 3px 3px 3px #555;
}
table {
  margin: 20px 3%;
  border: 1px solid #8dc3f5;
  width: 96%;
}
th {
  width: 30%;
  font-size: 24px;
  background-color: #d0e7fc;
  border-bottom: 1px solid #8dc3f5;
}
td {
  font-size: 16px;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #8dc3f5;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
  font-size: 80%;
}
#list{
  padding-top:30px;
}
.wrapper{
  display:flex;
  justify-content:space-between;
  margin:0 auto;
  vertical-align: middle;
  height:60px;
  align-items: center;
  width:95%;
  border-bottom: 1px 0 0 0;
	border-style: dotted;
	border-color: #1e88e5;
  margin-top:20px;
}

#logo{
  width:15px;
  height:15px;
  margin-left:10px;
}
.text{
 
  font-size:20px;
  margin:0 auto;
  line-height:1.5rem;
  text-align:center;
  align-items: center;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

#btn{
  margin-right:20px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.4rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #eb6100;
}

#btn:hover{
  color: #fff;
  background: #f56500;
}